body {
    margin: 0;
    background: #efefef;
    font-family: "Poppins", sans-serif;
}

/* WRAPPER */
.contact-wrapper {
    width: 80%;
    margin: 50px auto;
    display: flex;
    background: white;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.12);
}

/* LEFT SIDE */
.contact-info {
    width: 40%;
    position: relative;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(35%);
}

.info-content {
    position: relative;
    padding: 70px 50px;
}

.info-block {
    margin-bottom: 50px;
}

.info-block i {
    font-size: 20px;
    margin-right: 10px;
    color: white;
}

.info-block h3 {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
}

.info-block p {
    margin: 0;
    color: #cfcfcf;
    font-size: 16px;
    line-height: 1.6;
}

.green {
    color: #00c16e;
}

/* RIGHT FORM */
.contact-form {
    width: 60%;
    padding: 60px 60px;
}

.contact-form h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: 500;
}

label {
    font-size: 13px;
    font-weight: 600;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: 14px;
    margin: 10px 0 30px;
    border-radius: 4px;
    font-size: 14px;
    background: #fbfbfb;
}

textarea {
    height: 130px;
    resize: none;
}

/* TWO INPUTS */
.two-inputs {
    display: flex;
    gap: 20px;
}

.two-inputs input {
    width: 100%;
}

/* SUBMIT BUTTON */
.contact-form button {
    background: #00b26e;
    color: white;
    padding: 14px 20px;
    width: 200px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: 0.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact-form button:hover {
    background: #00995f;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .contact-wrapper {
        flex-direction: column;
        width: 95%;
    }

    .contact-info,
    .contact-form {
        width: 100%;
    }
}
