body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    color: #fff;
    text-align: center;
}

.result-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.result-container p {
    font-size: 1.5rem;
}
